<head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<div *ngIf="!people">
        <div class="form-group">
                <label for="name">Name</label>
                <input
                  type="text"
                  id="name"
                  class="form-control"
                  name="name"
                  [(ngModel)]="name" 
                >
            </div>
            <div class="form-group">
                    <label for="name">Password</label>
                    <input
                      type="text"
                      id="name"
                      class="form-control"
                      name="name"
                      [(ngModel)]="pass" 
                    >
                </div>
                <button
                class="btn btn-success"
                type="submit"
                (click) = "validate()">Validate</button>
</div>

<div *ngIf="people">
        <div class="row">
                <div class="col-sm-5 form-group">
                        <label for="name">BarCode</label>
                        <input
                          type="text"
                          id="name"
                          class="form-control"
                          name="name"
                          (keyup) = "reset()"
                          [(ngModel)]="barcode" 
                        >
                      
                      <button
                      class="col-sm-3  btn btn-success"
                      type="submit"
                      (click) = "search()">Search</button>
                    </div>
                <div class="col-sm-3 form-group">
                        <label for="amount">Amount</label>
                        <input
                          type="number"
                          id="amount"
                          class="form-control"
                          name="amount"
                          pattern="^[1-9]+[0-9]*$"
                          [(ngModel)]='amount'
                        >

                        <button
                        [disabled] = '!currentItem'
                        class="  btn btn-success"
                        (click)='add()'
                        type="submit"
                        >Add</button>
                      </div>
        </div>
        
              <!-- </div> -->
        <br/><br/><br/>
              <div *ngIf='currentItem' class = 'row'>
                  <div class = 'col-sm-3'>
                        <img
                        [src]="currentItem.tradeIdentifiers[0].images[0]"
                        alt="name"
                        class="img-responsive"
                        style="max-height: 120px;">
                  </div>
                  <div class = 'col-sm-3'>
                      {{currentItem.name}}<br/> <br/> 
                      {{currentItem.descriptions.consumer}}
                  </div>
        
                  <div class= 'col-sm-3'>
                      {{currentItem.ingredients}}
                  </div>
        
                  <div class='col-sm-3'>
                      <div *ngIf="!itemLike" class='bluefont' (click)="itemLike=!itemLike">Add to Like</div>
                      <div *ngIf="itemLike"  class='redfont' (click)="itemLike=!itemLike">Liked</div>
                      
                  </div>
        
              </div>

       <br/><br/>
       <h1>Cart List</h1>
       <!-- <div *ngIf=> </div> -->
       <div *ngFor='let elt of list'>
           <div class="row">
                <div class= 'col-sm-3'>
                        <div *ngIf="elt.image=='IMAGE'">
                            {{elt.image}}
                        </div>
                        <img *ngIf="elt.image!='IMAGE'"
                        [src]="elt.image"
                        alt="name"
                        class="img-responsive"
                        style="max-height: 80px;">
                </div>
                <div class= 'col-sm-3'>
                    {{elt.name}}
                </div>
                <div class= 'col-sm-3'>
                    {{elt.ingre}}
                </div>
                <div class= 'col-sm-3'>
                        {{elt.amount}}
                 </div>
                 <div class= 'col-sm-3'>
                    <div *ngIf="elt.image=='SPLIT W/ FRIEND'">{{elt.friend}}</div>
                    <div *ngIf="elt.friend=='false'" class='bluefont' (click)="elt.friend='true'">Own</div>
                    <div *ngIf="elt.friend=='true'"  class='redfont' (click)="elt.friend='false'">Split</div>
                </div>
                <br/><br/>
           </div>
       </div>
       
       <div>
           <br/>
            <button *ngIf='!calulateDone'
            class="btn btn-success"
            type="submit"
            (click) = "calulateSplit()">Calculate</button>
            <br/>
            <div *ngIf="calulateDone">
                    Send Split Details to 
                    <a href = "mailto:{{people.friendEmail}}?subject = Feedback&body = Message">
                         {{people.friendEmail}}
                    </a>
            </div>
            <br/>
            <button *ngIf='calulateDone'
            class="btn btn-danger"
            type="submit"
            (click) = "returnSplit()">Return</button>
       </div>

       

</div>
